body{
    background:lightgrey(to right white, rgba(247, 247, 247, 0.904)), url("bigpic.jpg");
    background-size: 50% 40%;
    background-repeat: no-repeat;
    background-color: #b4b4b4;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: static;
}
div{
    margin: auto;
    width: 23%;
    height: 40px;
    border:3px solid rgb(92, 92, 92);
    padding: 10px; 
    text-align: center;   
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding: 55px;
    width: 65%;
}
nav{
    background-color: transparent;
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0px;
    text-align: center;
    top: 180px;
}

.nav-li{
    height: 0px;
    display: inline-block;
    font-size: 15px;
    color: white;
    line-height:40px;
    padding:0 40px;
    margin-top: 0%;
}

nav li:hover{
    background-color: aquamarine;
    color: rgb(13, 156, 252);
    transition: .5s;
}
nav li:active{
    background-color: blue;
    color: #fff;
    transition: .5s;
}
section{
    position:relative;
    top: 0%;
    width: 100%;
    z-index: -1;
}
hr .solid{
    border-top: 3px solid #bbb;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    margin-bottom: 2%;
    margin-top: .5%;
}

h1{
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin: 5px;
}
h2{
    font-family: cursive;
    font-size: 25px;
    color: #fff;
    text-align: center;
    width: 30%;
    position: relative;
    left: 35%;
}
h3{
    font-size: 15px;
    color: #fff;
    text-align: center;
    width: 25%;
    position: relative;
    left: 37.5%;
}

.duo{
    height: 88%;
    width: 44%;
    color: white;
}